@font-face {
  font-family: 'LeckerliOneRegular';
  src: local('LeckerliOneRegular'),
    url(./assets/fonts/LeckerliOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'LarsseitRegular';
  src: local('LarsseitRegular'),
    url(./assets/fonts/Type\ Dynamic\ -\ Larsseit-Regular.otf)
      format('truetype');
}
@font-face {
  font-family: 'LarsseitBold';
  src: local('LarsseitBold'),
    url(./assets/fonts/Type\ Dynamic\ -\ Larsseit\ Bold.otf) format('truetype');
}

body {
  font-family: 'LarsseitRegular';
}

.app-wrapper {
  display: flex;
  width: 100%;
  max-width: 100rem;
  min-width: 20rem;
  margin: 0 auto;
}

@media screen and (max-width: 35rem) {
  .app-wrapper {
    flex-direction: column;
  }
}
